IntegrationFlows/UnZip/Replicate_Exchange_Rates_from_SAP_S4HANA_OnPremise_and_SAP_Concur/src/main/resources/wsdl/BAPI_EXCHRATE_GETCURRENTRATES.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s0="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:sap-com:document:sap:rfc:functions">
	<types>
		<xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:element name="BAPI_EXCHRATE_GETCURRENTRATES">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="DATE" type="s0:date"/>
						<xsd:element name="DATE_TYPE" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="EXCH_RATE_LIST">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:BAPI1093_0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="FROM_CURR_RANGE">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:BAPI1093_3"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="RATE_TYPE" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="RETURN">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:BAPIRET1"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="SHOW_PROTOCOL" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="TO_CURRNCY_RANGE">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:BAPI1093_4"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BAPI_EXCHRATE_GETCURRENTRATES.Response">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="EXCH_RATE_LIST">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:BAPI1093_0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="FROM_CURR_RANGE">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:BAPI1093_3"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="RETURN">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:BAPIRET1"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="TO_CURRNCY_RANGE">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:BAPI1093_4"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="BAPI1093_0">
				<xsd:sequence>
					<xsd:element name="RATE_TYPE" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="FROM_CURR" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TO_CURRNCY" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VALID_FROM" minOccurs="0" type="s0:date"/>
					<xsd:element name="EXCH_RATE" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="9"/>
								<xsd:fractionDigits value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="FROM_FACTOR" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="9"/>
								<xsd:fractionDigits value="0"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TO_FACTOR" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="9"/>
								<xsd:fractionDigits value="0"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="EXCH_RATE_V" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="9"/>
								<xsd:fractionDigits value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="FROM_FACTOR_V" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="9"/>
								<xsd:fractionDigits value="0"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TO_FACTOR_V" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="9"/>
								<xsd:fractionDigits value="0"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BAPI1093_3">
				<xsd:sequence>
					<xsd:element name="SIGN" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OPTION" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LOW" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="HIGH" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BAPI1093_4">
				<xsd:sequence>
					<xsd:element name="SIGN" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OPTION" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LOW" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="HIGH" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BAPIRET1">
				<xsd:sequence>
					<xsd:element name="TYPE" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ID" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="NUMBER" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
								<xsd:pattern value="\d*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="220"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LOG_NO" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LOG_MSG_NO" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
								<xsd:pattern value="\d*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V1" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V2" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V3" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V4" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="date">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="....-..-.."/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</types>
	<message name="BAPI_EXCHRATE_GETCURRENTRATESInput">
		<part name="parameters" element="s0:BAPI_EXCHRATE_GETCURRENTRATES"/>
	</message>
	<message name="BAPI_EXCHRATE_GETCURRENTRATESOutput">
		<part name="parameters" element="s0:BAPI_EXCHRATE_GETCURRENTRATES.Response"/>
	</message>
	<portType name="BAPI_EXCHRATE_GETCURRENTRATESPortType">
		<operation name="BAPI_EXCHRATE_GETCURRENTRATES">
			<input message="s0:BAPI_EXCHRATE_GETCURRENTRATESInput"/>
			<output message="s0:BAPI_EXCHRATE_GETCURRENTRATESOutput"/>
		</operation>
	</portType>
	<binding name="BAPI_EXCHRATE_GETCURRENTRATESBinding" type="s0:BAPI_EXCHRATE_GETCURRENTRATESPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="BAPI_EXCHRATE_GETCURRENTRATES">
			<soap:operation soapAction="http://www.sap.com/BAPI_EXCHRATE_GETCURRENTRATES"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="BAPI_EXCHRATE_GETCURRENTRATESService">
		<documentation>SAP Service BAPI_EXCHRATE_GETCURRENTRATES via SOAP</documentation>
		<port name="BAPI_EXCHRATE_GETCURRENTRATESPortType" binding="s0:BAPI_EXCHRATE_GETCURRENTRATESBinding">
			<soap:address location="https://vhfraes4lb.hec.fraunhofer.de/sap/bc/soap/rfc"/>
		</port>
	</service>
</definitions>