IntegrationFlows/UnZip/Replicate_Exchange_Rates_from_SAP_S4HANA_OnPremise_and_SAP_Concur/src/main/resources/xsd/OUTPUT_CSV.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="OUTPUT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="FROM_CURRENCY"/>
							<xs:element type="xs:string" name="TO_CURRENCY"/>
							<xs:element type="xs:string" name="EXCH_RATE"/>
							<xs:element type="xs:string" name="VALID_FROM"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>