IntegrationFlows/UnZip/Replicate_Employee_data_from_SAP_S4HANA_HCM_to_SAP_Concur/src/main/resources/xsd/350_Travel_Addendum.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BAPI_file3">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="File" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Trx_Type">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Employee_ID">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
              <xs:element name="Name_Prefix">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
              <xs:element name="Name_Suffix">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
              <xs:element name="Nick_Name">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Redress_Number">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Gender">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Date_of_Birth">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Employee_ID_of_the_Travel_Approver
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Job_Title
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element><xs:element name="Work_Phone
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Work_Phone_Extension
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Work_Fax
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Home_Phone
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Cell_Phone
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Pager_Phone
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Travel_Name_Remark
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element><xs:element name="Travel_Class_Name
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="GDS_Profile_Name
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Org_Unit_Division
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Home_Street_Address
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Home_City
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Home_State
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Home_Postal_Code
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Home_Country
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Work_Street_Address
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Work_City
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Work_State
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Work_Postal_Code
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Work_Country
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Email_2
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Email_3
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_1
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_2">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_3">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_4">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_5">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_6">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_7">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_8">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_9">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_10">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_11">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_12">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_13">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_14">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_15">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_16">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_17">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_18">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_19">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_20">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_21">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_22">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_23">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_24">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Custom_25">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="XML_Profile_Synchronization_ID
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Profile_User_Permission
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Amadeus_User_Permission
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Open_Booking_User_Permission
 ">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Future_Use_5
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Future_Use_6">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Future_Use_7">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Future_Use_8">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Future_Use_9">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Future_Use_10">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>