IntegrationFlows/UnZip/Replicate_Employee_data_from_SAP_S4HANA_HCM_to_SAP_Concur/src/main/resources/xsd/400_Role_Import_2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BAPI_file4">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="File" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Trx_Type">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Employee_ID
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
              <xs:element name="Role_Code
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
              <xs:element name="Segment_1
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
              <xs:element name="Segment_2
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Segment_3
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Segment_4
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Segment_5
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Segment_6
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Segment_7
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Segment_8
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Segment_9
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
			  <xs:element name="Segment_10
">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:maxLength value="150"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>			  
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>